{% extends 'app/base.html' %}

{% block users %}
    <div class="row text-right" style="width: 100%;">
        <div class="col-8 invisible"></div>
        {% if user.is_authenticated %}
            {% block newpost %}
            {% endblock %}
            <div class="col-1 bg-success border rounded border-dark">
                <h6>User:{{ user.username }}</h6>
            </div>
            <div class="col-1 bg-danger border rounded border-dark">
                <h6 ><a class="text-center text-decoration-none text-white" href="{% url 'logout' %}">Logout</a></h6>
            </div>
        {% else %}
            <div class="col-2">
                <h6><a class="text-center  text-decoration-none text-white bg-" href="{% url 'login' %}">Login</a></h6>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block index %}
  <body class="bg-warning">
    <div class="container">
        <div class="row">
            <div class="col-3 bg-dark text-white border-dark rounded">
                <div  style="padding-left: 15px;">
                    <h4 class=" text-center mt-1 mb-3">Categorias</h4>
                        {% for c in categories %}
                            <h5 class="mt-1 border border-white bg-secondary text-center">{{ c.category_name }} </h5>
                        {% endfor %}
                </div>    
            </div>
            <div class="col-9">        
                {% block contenido %}
                {% endblock %}
            </div>  
        </div>
    </div>
</div>
</body>
{% endblock %}
